<html>
{% include 'hackathon/base.html' %}
<link rel="stylesheet" href="/static/css/uploadPage.css">
<body>
	<div style="width:1000px; margin:0 auto;">
		<div class="row text-center">
		   <!-- <div style="center"> -->
	 	   <div class="col-sm-offset-4 col-sm-4"> <a href="http://localhost:8000/hackathon/facebook/" style="color: #ffffff">
	 	   <div style="background-color: #96e9c5" class="panel panel-default">
	 	   		<div class="panel-body"><i class="fa fa-upload fa-4x" aria-hidden="true"></i><font size="6"> Upload Photo
 	   		</div>
	   		</div>
			</a></uploadButton>
		</div>
  	</div>
</body>
</html>
