<!DOCTYPE html>

<html>
    {% include 'hackathon/base.html' %}
    <style>
    body {
    	background-image: url("http://wallpapercave.com/wp/bM2WavU.jpg");
    }
    </style>
/*    <body>
*/    <div class="container">
    	{% if user.is_authenticated %}
        	<h1>Api Example</h1>
        	<strong>{{ boldmessage }}</strong><br />
        {% else %}
        	<h1><font color=white>Welcome to Calorify!</font></h1>
        {% endif %}
    	<br>
		<div class="row">
			<div class="col-sm-6 col-md-6">
				<font color=white>
				Please create an account or login!
				</font>
			</div>
			<div class="col-sm-6 col-md-6">
				<font color=white>
				Unicorns are cool.
				</font>
			</div>
		</div>
		<br>
		<div class="row">
<!-- 			<div class="col-sm-6 col-md-6">
				Welcome to Calorify!
			</div>
 -->			<div class="col-sm-6 col-md-6">
				<img src="https://s-media-cache-ak0.pinimg.com/236x/0e/3d/f6/0e3df60cabeec611be2872b82db57458.jpg">
			</div>
		</div>
	</div>
    </body>
</html>
