<!DOCTYPE html>
<html>
{% include 'hackathon/base.html' %}
    <head>
        <meta charset="utf-8">
        <title>WHATCHU EATIN</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    </head>
    <script>
        $(document).ready(function() {

        // JQuery code to be added in here.
            var caloriesList = $("#icalories")
            var amountList = $('#amount-list')
            var cals = $('#totalCalories')
            var total = $('#finalCalories')

            var total_val = 0
            for (var j = 0; j < amountList.length; j++) {
                total_val += parseInt($(cals[j]).text())
            }
            $(total[0]).text(total_val.toString())

            for (var i = 0; i < caloriesList.length; i++) {
                $(caloriesList[i]).click(function(event) {
                    console.log($(event.target).text());
                });
            }
            for (var i = 0; i < amountList.length; i++) {
                $(amountList[i]).change(function(event) {
                    var index = $(event.target).index()
                    var input_val = $(event.target).val();
                    var output_val = $(caloriesList[index]).text() * input_val;
                    $(cals[index]).text(output_val)

                    total_val = 0
                    for (var j = 0; j < amountList.length; j++) {
                        total_val += parseInt($(cals[j]).text())
                    }
                    $(total[0]).text(total_val.toString())

                });
            }
        });
    </script>

    <body>
        <!-- List of uploaded documents -->
        {% if documents %}
            <ul>
            {% for document in documents %}
                <li><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No documents.</p>
        {% endif %}

        {% for document in documents %}
        <img src="{{document.docfile.url}}"
        {% endfor %}
        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url 'list' %}" method="post" enctype="multipart/form-data" style="margin-left:30px;">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>
            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
            <p>
                {{ form.docfile.errors }}
                {{ form.docfile }}
            </p>
            <p><input type="submit" value="Upload" /></p>
<!--             <p><input type="button" value="Generate a table." onclick="generate_table()">
 -->            <p><input type="submit" value="Clear" name="Delete" /></p>
        </form>



        <div>
            <div>
                {% if data %}
                    <table style="width:100%;margin-left:30px;">
                        <tr>
                            <th>Ingredients</th>
                            <th>Calories Per Gram</th>
                            <th>Amount in Gram</th>
                            <th>Total Calories</th>
                        </tr>
                        {% for d in data %}
                            <tr>
                                <td id="ingredient">{{d.ingredients}}</td>
                                <td id="icalories">{{d.calories}}</td>
                                <td id="amount"><input type="text" name="grams" value="1"></td>
                                <td id="totalCalories">{{d.calories}}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <p>No data.</p>
                {% endif %}
            </div>
            <div style="text-align:center;">
                <h2>TOTAL CALORIES:</h2>
                <h2 id="finalCalories">300</h2>
            </div>
        </div>
    </body>
</html>