<!DOCTYPE html>
<html>
{% include 'hackathon/base.html' %}
    <head>
        <meta charset="utf-8">
        <title>WHATCHU EATIN</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    </head>
    <script>
        $(document).ready(function() {

        // JQuery code to be added in here.
            var caloriesList = $("#icalories");
            var amountList = $('#amount-list');
            var cals = $('#totalCalories');
            var total = $('#finalCalories');

            var table = $('#ingredient_table');


            var total_val = 0;

            $(table.children().children()).each(function() {
                var $this = $(this);
                var ingredient = $this.find("td#ingredient");
                var calspg = $this.find("td#icalories");
                var amount = $this.find("input");
                var totalcals = $this.find("td#totalCalories");

                amount.change(function(event) {
                    var index = $(event.target).index()
                    var input_val = $(event.target).val();
                    output_val = Number(parseFloat($(calspg).text()) * amount.val()).toFixed(2);
                    $(totalcals).text(output_val);

                    total_val = 0

                    for (var j = 0; j < $this.length; j++) {
                        total_val += parseFloat($(totalcals[j]).text())
                        console.log(total_val)
                    }
                    console.log($(total)[1])
                    $(total).text(total_val.toString())
                });
            });

            // adding rows
            var table = document.getElementById("ingredient_table");
            var addRow = document.getElementById("rowSubmit");
            var ingredient = $("#ingInput");
            var calories = $("#calInput");
            var amount = $("#amtInput");
            var i = "";
            var c = "";
            var a = "";
            ingredient.change(function(event) {
                i = $(event.target).val();
            });

            calories.change(function(event) {
                c = $(event.target).val();
            });

            amount.change(function(event) {
                a = $(event.target).val();
            });

            $(addRow).click(function(event) {
                $.ajax("../ingredient?ingredient=" + i).then(function(res) {
                    var retCal = res.length > 0 ? JSON.parse(res).calories : c;
                    var row = table.insertRow(-1);
                    var ingText = row.insertCell(0);
                    var calText = row.insertCell(1);
                    var amtText = row.insertCell(2);
                    var totText = row.insertCell(3);
                    ingText.innerHTML = i;
                    calText.innerHTML = retCal
                    amtText.innerHTML = "<input type=\"text\" name=\"grams\" value=\"" + a + "\">";
                    var totalVal = a ? Number.parseFloat(a) * Number.parseFloat(retCal) : retCal;
                    totText.innerHTML = totalVal.toFixed(1).toString();

                }).fail(function(err) {
                    console.log(err);
                });
            });


            total_val = 0
            for (var j = 0; j < $this.length; j++) {
                total_val += parseFloat($(totalcals[j]).text())
            }
            $(total).text(Number(total_val).toFixed(2).toString())

        });
    </script>

    <body>
        <!-- List of uploaded documents -->
        {% if documents %}
            <ul>
            {% for document in documents %}
                <li><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No documents.</p>
        {% endif %}

        {% for document in documents %}
        <img src="{{document.docfile.url}}"
        {% endfor %}
        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url 'list' %}" method="post" enctype="multipart/form-data" style="margin-left:30px;">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>
            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
            <p>
                {{ form.docfile.errors }}
                {{ form.docfile }}
            </p>
            <p><input type="submit" value="Upload" /></p>
<!--             <p><input type="button" value="Generate a table." onclick="generate_table()">
 -->            <p><input type="submit" value="Clear" name="Delete" /></p>
        </form>



        <div>
            <div>
                {% if data %}
                    <table style="width:100%;margin-left:30px;" id="ingredient_table">
                        <tr>
                            <th>Ingredients</th>
                            <th>Calories Per Gram</th>
                            <th>Amount in Gram</th>
                            <th>Total Calories</th>
                        </tr>
                        {% for d in data %}
                            <tr>
                                <td id="ingredient">{{d.ingredients}}</td>
                                <td id="icalories">{{d.calories}}</td>
                                <td id="amount"><input type="text" name="grams" value="1"></td>
                                <td id="totalCalories">{{d.calories}}</td>
                            </tr>
                        {% endfor %}
                    </table>
                    <table style="width:100%;margin-left:30px;">
                        <tr>
                            <td id="ingInput"><input type="text" name="ingredient" placeholder="chicken breast"></td>
                            <td id="calInput"><input type="text" name="calories/g" placeholder="1.6"></td>
                            <td id="amtInput"><input type="text" name="grams" placeholder="100"></td>
                            <td id="rowSubmit"><input type="submit" value="Add Ingredient"></td>
                        </tr>
                    </table>
                {% else %}
                    <p>No data.</p>
                {% endif %}
            </div>
            <div style="text-align:center;">
                <h2>TOTAL CALORIES:</h2>
                <h2 id="finalCalories">300</h2>
            </div>
        </div>
    </body>
</html>