<!DOCTYPE html>
<html>
    {% include 'hackathon/base.html' %}
    <style>
    body {
      background-image: url("http://cdn.wallpapersafari.com/22/3/pcizTk.png");
      background-size: 1200px 700px;

    }
      .form-signin {
        max-width: 550px;
        padding: 15px;
        margin: 0 auto;
      }
    </style>

    <body>
      <div class="container text-center">
        <form class="form-signin" id="login_form" method="post" action="/hackathon/login/">
          {% csrf_token %}
          {% load bootstrap %}
          <h2 class="form-signin-heading"><font color=white>Login</font></h2>
          <br>
          <input type="text" name="username" class="form-control" placeholder="Username" value="" required autofocus>
          <br>
          <input type="password" name="password" class="form-control" placeholder="Password" value=""required>
          <br>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
          <input type="hidden" name="submit" value="submit" />
        </form>
      </div>

      <div class="form-signin">
        <a class="btn btn-block btn-social btn-facebook" href="http://localhost:8000/hackathon/facebook_login/">
          <i class="fa fa-facebook"></i>
          Sign in with Facebook
        </a>
      </div>

    </body>
</html>
